<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma de Quilometragem</title>
    <!-- Adicione o link para o Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center"> </h1>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Código do Usuário</th>
                    <th>Quilometragem Total (km)</th>
                </tr>
            </thead>
            <tbody>
                {% for nome, info in pessoasCadastradas.items() %}
                    <tr>
                        <td>{{ cod }}</td>
                        <td>{{ info.km }} km</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Adicione os scripts do Bootstrap JS (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
